:root {
  --base: #141E46;
  --text: #FFF5E0;
  --accent: #ef6161;
  --accent-transp: hsla(0, 82%, 66%, 0.234);
  --primary: hsl(189, 37%, 43%);
  --primary-transp: hsla(189, 37%, 43%, 0.353);
  --h1: 5rem;
  --p: 2rem;
  font-size: 62.5%;
  background-color: #fee6de;
}

::selection {
  color: var(--base);
  background-color: var(--accent);
}

h1 {
  font-size: var(--h1);
  text-align: center;
  height: 100px;
}

.icon-desc {
  font-size: var(--p);
}

.app-inner {
  background-color: var(--base);
  color: var(--text);
  display: flex;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  margin: 1rem;
  border-radius: 0.5rem;  
}

.icon-grid {
  display: grid;
  width: 60%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-transp);
}

.icon:hover {
  box-shadow: 0px 0px 10px 3px var(--primary);
  background: radial-gradient(circle 100px, var(--primary), var(--base));
  cursor: pointer;
  border-radius: 0.2em;
}

.icon-img img {
  width: clamp(7rem, 5.736vw + 5.164rem, 13rem);
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 40%;
}

.image-wrapper {
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-wrapper img {
  width: clamp(7rem, 12.428vw + 3.023rem, 20rem);
  margin-top: -10rem;
  animation: upDown 1.7s alternate infinite ease-in-out;
}

.image-wrapper img:hover {
  cursor: pointer;
}

@keyframes upDown {
  to {transform: translatey(25px);}
}

@media (max-width: 600px) {
  .app-inner {
    flex-direction: column;
  }
  .right-side {
    order: -1;
    width: 100%;
  }
  .icon-grid {
    width: 100%;
  }
  .image-wrapper {
    height: 7rem;
  }
  .image-wrapper img {
    padding-top: 5rem;
    padding-bottom: 0rem;
  }
  @keyframes upDown {
    to {transform: translatey(10px);}
  }
}